.contactList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 25px;
  margin: 10px;
}
.contactItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  min-width: 260px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
}
